*
  box-sizing border-box

.ImagesLoader
  font-family Ubuntu
  width 100%
  .Droparea
    display flex
    flex-flow row wrap
    justify-content center
    align-items center
    height 15vh
    width 100%
    background-color #1a1a1a
    color gray
    cursor pointer
    transition all .2s ease-in
    border dashed 3px gray
    border-radius 5px
    &.loaded
      animation-name dropAnimation
      animation-duration .5s
      animation-timing-function ease-in
      height 5vh
      background-color white
      color #1a1a1a
    &:hover
    &.over
      background-color white
      color #1a1a1a
      border dashed 3px #1a1a1a
    .hidden-input
      display none
  .Previews
    display flex
    flex-flow column wrap
    padding 0
    margin 0
    margin-top 5px
    width 100%
    justify-content space-between
    .Preview-item
      position relative
      display flex
      flex-flow column wrap
      list-style-type none
      margin 0
      padding 0
      box-shadow: 5px 6px 7px -6px rgba(0,0,0,0.75);
      margin-bottom 5px
      overflow hidden
      opacity 0
      transform translateY(100%)
      transition all .3s ease-in-out
      &.visible
        opacity 1
        transform translateY(0)

@keyframes dropAnimation
  0%
    height 15vh
  20%
    background-color lightyellow
    height 20vh
  100%
    background-color white
    color #1a1a1a
    height 5vh

.Preview-item-img
 position relative
 display flex
 img
  position relative
  width 100%

.Preview-item-form
  position relative
  display flex
  flex-flow column wrap
  align-items flex-end
  justify-content space-between
  width 100%
  background-color white
  padding 10px
  label
    display block
    min-width 100%
    font-family Ubuntu
    color #27272F
    margin-bottom 5px
    background-color transparent
    input,
    select
      display block
      position relative
      width 100%
      border none
      border-bottom solid 1px #9E9E9E
  .Delete-button
    width 70px
    height 30px
    border none
    color white
    background-color rgba(249, 56, 68, 0.78)
    cursor pointer
    transition-property background-color
    transition-duration .2s
    transition-timing-function ease-in
    &:hover
    &:active
    &:focus
      background-color rgb(223, 50, 50)

.Actions-Bar
  button
    margin-top 5px
    margin-right 5px
    border none
    width 70px
    height 30px
    cursor pointer
    color white
  .submit-btn
    background-color rgb(69, 153, 214)
  .clear-btn
    background-color rgb(121, 191, 66)

@media screen and (min-width 768px)
  .Previews
    flex-flow row wrap !important
    .Preview-item
      flex-flow row wrap !important
      width calc(50% - 2.5px)
      .Preview-item-img
      .Preview-item-form
       width 50%
